{{#view 'test-metal-view'}}
  hello
  {{view 'select'}}
{{/view}}

{{#view 'test-metal-view'}}
  1
  {{#test-metal-component i-am-a-component="bro"}}
    {{model.boundThree}}
  {{/test-metal-component}}
  4
{{/view}}

<button {{action "toggleTable"}}>toggle table</button>

{{#if showTable}}
<table>
  <tbody>
    {{#each model.rows itemView='test-metal-view' as |row|}}
      {{#table-row}}
        {{#table-cell}}
          {{row.name}}
        {{/table-cell}}
      {{/table-row}}
    {{/each}}
  </tbody>
</table>
{{/if}}
